@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Marcellus&family=Oleo+Script&family=Poppins:wght@300;400&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
section {
    font-family: 'Poppins', sans-serif;
    max-width: 100%;
    width: 100vw;
    display: flex;
    position: relative;
    min-height: 100vh;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(16, 16, 16);
    background-image: url(./assets/smthng.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-image: url(./assets/Backstreet\ Boys\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover; */
}

header {
    padding-left: 20px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    background-color:aliceblue;
    top: 0;
    flex-direction: row;
    min-height: 60px;
    align-items: center;
    font-family: "Marcellus";
    font-weight:lighter;
    letter-spacing: 2px;
}

header ul {
    display: flex;
    position: relative;
}
header ul li {
    list-style: none;
    padding-right: 80px;
}
header ul li a {
    text-decoration: none;
    color: black;
    font-family:'Poppins',sans-serif ;
    font-size: 18px;
}

.bandimg {
    background-color: black;
    align-items: center;
}
.bandimg img {
    width: 100vw;
    z-index: 1;
}

.albums {
    color:white;
    text-align: center;
    width: 100vw;
    min-height: 700px;
    display: block;
}

.albums h1 {
    font-family: "Marcellus";
    padding-top: 30px;
    font-size: 70px;
}

.grid {
    padding: 50px;
    display: grid;
    column-gap: 50px;
    grid-template-columns: auto auto auto;

}

.grid div:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.topsongs {
    color:rgb(255, 255, 255);
    width: 100vw;
    max-width: 100%;
    display: flex;
    padding-left: 100px;
    padding-right: 150px;
    justify-content: space-between;
    align-items: center;
}
.topsongs h1 {
    font-family: 'marcellus';
}
.vl {
    border-left: 2px solid white;
    height: 340px;
    border-radius: 20px;
  
}
.topsongs li {
    display: list-item;
    list-style-position: inside;
}

.store {
    text-align: center;
    display: block;
    width: 100vw;
    color: rgb(255, 255, 255);
    padding-left: 50px;
    padding-right: 50px;   
}

.store h1 {
    font-family: 'marcellus';
}

.merchgrid{
    text-align:center;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 30px;
    align-items: center;
   
}

.merchgrid div {
    padding-top: 10px;
    padding-bottom: 100px;
    padding-left: 20px;
    padding-right: 20px;
    background-color:rgb(180, 180, 180);
}

.merchgrid img {
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
    cursor: pointer;
}

.merchgrid img:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    filter: drop-shadow(6px 10px 3px rgba(0, 0, 0, 0.523));
}

.merchgrid .merch {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    padding-bottom: 60px;
    text-align: start;
}


.store button {
    border: 3px solid aliceblue;
    border-radius: 70px;
    cursor: pointer;
    background-color:transparent;
    margin-top: 20px;
    font-size: 30px;
    padding: 15px 70px;
    max-width: 38.6rem;
    color: rgb(255, 255, 255);
    transition: 0.3s ease-in-out;
}


.store button:hover {
    background-color: rgb(255, 255, 255);
    color:#0046c0;
}
.band {
    padding: 50px;
    color: white;
    text-align: center;
    width: 100vw;
    max-width: 100%;
    padding-left: 150px;
    padding-right: 150px;
}
.bandgrid {
    display: grid;
    grid-template-columns: auto auto auto ;
    column-gap:40px;
    row-gap: 30px;
}
.hide {
    display: none;
}
.bandgrid img {
    border-radius: 100%;
    transition: 0.5s;
}
.bandgrid img:hover {
    /*transform: translate(-100px);*/
    border-radius: 0;
}

.bandgrid img:hover + .hide {
    display: block;
    /*transform: translate(-100px);*/
}